.button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #e6b275 0%, #cd9154 100%),
        #cd9154,
        #e6b275,
        radial-gradient(center 50% 50%, radius 100%, #f1c486, #ce9054);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}
.button:hover {
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #e6b275 0%, #cd9154 100%),
        #cd9154,
        #e6b275,
        radial-gradient(center 50% 50%, radius 100%, #f1c486, #ce9054);
}
.button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.button Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #835930 , 0,0,0,2 );
}